@{
    ViewBag.Title = "Yhteystiedot";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Aleksanterinkatu 20<br/>
    06100 Porvoo<br/>
    <abbr title="Puhelin">P:</abbr>
    019-545012
</address>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1971.2138870576264!2d25.667711916364674!3d60.39214508204329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4691f42e9e5bf463%3A0x5ff6a98a57d18c80!2sAleksanterinkatu%2020%2C%2006100%20Porvoo!5e0!3m2!1sfi!2sfi!4v1641286424248!5m2!1sfi!2sfi" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

<address>
    <strong>Tuki:</strong>   <a href="mailto:tuki@tilausdb.fi">tuki@tilausdb.fi</a><br />
</address>