@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="fw-bold">Tervetuloa sivustolle TilausDB!</h1>
    @*BS/SVG -ikonit*@
    <p><a href="https://www.novitaknits.com/fi/neulekoulu" class="btn btn-primary btn-lg"><img src="~/Icons/wrench.svg" alt="Novitaknits" width="32" height="32" title="NovitKnits">NovitaKnits &raquo;</a></p>
    <p><a href="https://www.novitaknits.com/fi/neulekoulu"><img src="~/Icons/wrench.svg" alt="Novitaknits" width="32" height="32" title="NovitaKnits"></a></p>
    @*FAS-ikonit*@
    
    <p><a href="https://www.novitaknits.com/fi/neulekoulu" class="btn btn-primary btn-lg fa fa-hand-o-right"> NovitaKnits</a></p>
</div>